body {
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(250, 248, 235);
}

.wrapper {
    width: fit-content; 
    text-wrap: nowrap;
    margin-top: 4em;
}

.block {
    display: inline-block;
    margin: 0 5em 0;
    text-wrap: wrap;
    vertical-align: top;
}

.block p {
    width: 40em;
}

.inner-wrapper {
    position: relative;
    top: 0px;
}

.inner-wrapper div {
    position: absolute;
}

h2 {
    font-weight: 300;
    font-style: italic;
}

.big-chart {
    width: fit-content;  
}

.footnote {
    margin-top: 8em;
    font-size: 75%;
}

.scale {
    width: calc(100% - 11.4em);
    /* margin-left: 11.4em; */
    display: inline-block;
    height:128px;
    background-image: url(images/scale.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 256px;
}
.big-chart-bar-wrapper {
    width: fit-content;
    vertical-align: middle;
}
.big-chart-label-before {
    display: inline-block;
    margin-right: 0.5em;
    text-align: right;
    width: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    border-right: 1px grey solid;
}
.big-chart-bar {
    background-color:navy;
    display: inline-block;
    height:1em;

}
.big-chart-label-after {
    display: inline-block;
    margin-left: 0.5em;
}

.strong {
    color: darkred;
}

form p {
    color: #333;
    font-size: 75%;
}

.long-block-title {
    position: sticky;
    width: fit-content;
    left: 1em;
}