.wrapper {
    width: fit-content; 
}
.big-chart {
    width: fit-content;  
}

.scale {
    width: calc(100% - 11.4em);
    margin-left: 11.4em;
    display: inline-block;
    height:128px;
    background-image: url(images/scale.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 128px;
}
.big-chart-bar-wrapper {
    width: fit-content;
    vertical-align: middle;
}
.big-chart-label-before {
    display: inline-block;
    margin-right: 0.5em;
    text-align: right;
    width: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    border-right: 1px grey solid;
}
.big-chart-bar {
    background-color:navy;
    display: inline-block;
    height:1em;

}
.big-chart-label-after {
    display: inline-block;
    margin-left: 0.5em;
}